<a href="https://colab.research.google.com/github/dudaholandah/NLP/blob/main/Trabalhos/T1/NLP_T1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Feito por:
* Ariel Batista da Silva - 170099776
* Bruno Esteves Dalla Costa Filho - 170100863
* Maria Eduarda Machado de Holanda - 190043725

In [36]:
import re
import pandas as pd

In [37]:
data = pd.read_csv('dosp_29012016.csv')

In [38]:
data.head()

,ID,Data,Retranca,Tipo do Conteúdo,Secretaria,Orgão,Texto,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2016/01/29/0,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN
1,2016/01/29/1,2016-01-29T00:00:00Z,efaaadm,LICITAÇÕES,CULTURA,GABINETE DO SECRETÁRIO,((TITULO))CONTRAÇÃO DE NATUREZA ARTÍSTICA\n\n(...,NaN,NaN,NaN,NaN,NaN,NaN
2,2016/01/29/2,2016-01-29T00:00:00Z,efmaadm,LICITAÇÕES,-,-,((TITULO))Extrato de Termo de Aditamento\n((TE...,NaN,NaN,NaN,NaN,NaN,NaN
3,2016/01/29/3,2016-01-29T00:00:00Z,epaaadm,LICITAÇÕES,SAÚDE,GABINETE DO SECRETÁRIO,((TITULO))PROCESSO: 2015-0.272.291-3\n((TEXTO)...,NaN,NaN,NaN,NaN,NaN,NaN
4,2016/01/29/4,2016-01-29T00:00:00Z,epwbadm,LICITAÇÕES,AUTARQUIA HOSPITALAR MUNICIPAL,DIRETORIA DE GESTÃO DE PESSOAL,((TITULO))PENALIDADE\n((TEXTO))((NG))PROCESSO ...,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data = data['Texto']

In [40]:
print(data[6])

((TITULO))DISPENSA DE LICITAÇÃO

((TEXTO))((NG)) Processo SEI 6025.2016/0000004-8((CL))

À vista dos elementos constantes do presente, ((NG)) AUTORIZO((CL)), com fundamento no artigo 24, inciso VIII, da Lei Federal nº 8.666/93 e no Decreto Municipal nº 46.356/05, a contratação direta da empresa ((NG)) SÃO PAULO TURISMO S/A((CL)), inscrita no CNPJ sob nº 62.002.886/0001-60, para prestação de serviços de planejamento, produção, execução e fiscalização de eventos referentes ao Calendário Anual de Eventos, de janeiro a dezembro de 2016, conforme proposta apresentada, pelo valor total estimado de R$ 11.999.014,74 (onze milhões, novecentos e noventa e nove mil, catorze reais e setenta e quatro centavos), ficando, desde já, autorizado o empenho de recursos onerando a dotação orçamentária nº 25.10.13.392.3015.2.118.3.3.90.39.00.00, de acordo com a nota de reserva n° 431/2016.

 Nos termos do art. 6° do Decreto n° 54.873/14, nomeio como fiscal do contrato Gabriela Fontana Junqueira Pereira – RF 803.051-1 e, como substituta, Luiza Helena Thesin – RF 826.775-2.

In [41]:
texto = []
texto.extend([data[0],data[1],data[6],data[8],data[4]])

In [42]:
lista = []

for x in texto:
  regextitulo = re.findall(r'\(\(TITULO\)\)(.*)', x)
  print(regextitulo)
  regexprocesso = re.findall(r'[pP][rR][oO][cC][eE][sS][sS][oO][\D\s]*([^a-zA-Z\(]*)', x)
  print(regexprocesso)
  regexvalor = re.findall(r'R\$[\s]*[0-9.]*[,][0-9]*', x)
  print(regexvalor)

  if not regextitulo: regextitulo = ['NaN']
  if not regexprocesso: regexprocesso = ['NaN']
  if not regexvalor: regexvalor = ['NaN']
  lista.append([regextitulo[0], regexprocesso[0], regexvalor[0]])

['Extrato de Termo de Aditamento']
[]
['R$ 14.100,00']
['CONTRAÇÃO DE NATUREZA ARTÍSTICA']
['6025.2016/0000082-0']
['R$ 14.000,00']
['DISPENSA DE LICITAÇÃO']
['6025.2016/0000004-8']
['R$ 11.999.014,74']
['CONTRAÇÃO DE NATUREZA ARTÍSTICA']
['6025.2016/0000078-1']
['R$ 55.000,00', 'R$ 13.750,00', 'R$ 13.750,00', 'R$ 13.750,00', 'R$ 13.750,00']
['PENALIDADE']
['2015-0.245.159-6', '099/2015–']
[]

In [43]:
df = pd.DataFrame(lista, columns = ['Titulo', 'Numero do Processo', 'Valor'])
print(df)

                            Titulo   Numero do Processo             Valor
0   Extrato de Termo de Aditamento                  NaN      R$ 14.100,00
1  CONTRAÇÃO DE NATUREZA ARTÍSTICA  6025.2016/0000082-0      R$ 14.000,00
2            DISPENSA DE LICITAÇÃO  6025.2016/0000004-8  R$ 11.999.014,74
3  CONTRAÇÃO DE NATUREZA ARTÍSTICA  6025.2016/0000078-1      R$ 55.000,00
4                       PENALIDADE     2015-0.245.159-6               NaN