<a href="https://colab.research.google.com/github/dudaholandah/NLP/blob/main/Competicao/Competi%C3%A7%C3%A3o1_Classifica%C3%A7%C3%A3o_Review_Hoteis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MLP - My Little Pony
- Maria Eduarda Holanda - 190043725
- Ariel Batista - 170099776
- Bruno Esteves - 170100863

# Imports

In [ ]:
!python -m spacy download pt_core_news_sm

In [3]:
import pandas as pd
import re
import nltk
import spacy

In [ ]:
nltk.download('stopwords')
nlp = spacy.load('pt_core_news_sm')

# Pre-Processamento

In [6]:
link = "https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/datasets/corpora/training.csv"
df = pd.read_csv(link)

In [7]:
df

        Id                                               text  Expected
0        0  Ótima localização, bom atendimento, bom sinal ...         1
1        1  O hotel é bem localizado e silencioso, o que c...         1
2        2  O hotel é muito bom. O atendimento é excelente...         2
3        3  Hotel antigo, mal conservado e mal reformado, ...         0
4        4  Hotel bem localizado, perto de dois shopping, ...         2
...    ...                                                ...       ...
4995  4995  Hotel muito bem localizado, com shopping e dem...         2
4996  4996  Além de oferecer uma boa hospedagem com confor...         2
4997  4997  Hotel charmoso, bom atendimento, quartos confo...         2
4998  4998  O hotel fica super bem localizado, em frente a...         2
4999  4999  O serviço atendeu a todas as expectativas. Ide...         2

[5000 rows x 3 columns]

In [8]:
link = "https://raw.githubusercontent.com/viniciusrpb/cic0269_natural_language_processing/main/resources/SentiLex-lem-PT02.txt"
df_dic = pd.read_csv(link , sep=';', encoding='utf-8', names=['palavra', 'TG', 'POL', 'ANOT'])

In [9]:
aux = df_dic['palavra']

In [10]:
vocab = []
classific = []

for word in aux:
  x = word.split(sep='.')
  vocab.append(x[0])
  classific.append(x[1])

In [ ]:
vocab

In [26]:
def pre_processing(text):
  stopwords = nltk.corpus.stopwords.words('portuguese')
  
  # regex para tirar caracteres especiais, numeros
  words = re.sub(r'[\s!%*~\^´`=+<\[\]?&$:,.;@#.0-9()\/\"\'_-]+', " ", text.lower())
  words = words.strip()
  
  phrase = ""
  words = words.split()

  for x in words:
      if x not in stopwords:
          phrase = phrase + " " + x
        
  return phrase.strip()

In [13]:
reviews = df['text']

In [34]:
reviews

0       Ótima localização, bom atendimento, bom sinal ...
1       O hotel é bem localizado e silencioso, o que c...
2       O hotel é muito bom. O atendimento é excelente...
3       Hotel antigo, mal conservado e mal reformado, ...
4       Hotel bem localizado, perto de dois shopping, ...
                              ...
4995    Hotel muito bem localizado, com shopping e dem...
4996    Além de oferecer uma boa hospedagem com confor...
4997    Hotel charmoso, bom atendimento, quartos confo...
4998    O hotel fica super bem localizado, em frente a...
4999    O serviço atendeu a todas as expectativas. Ide...
Name: text, Length: 5000, dtype: object

In [29]:
reviews_pp = []

for x in reviews:
  text = pre_processing(x)
  reviews_pp.append(text)

In [40]:
classificacao = []

for x in reviews_pp:
  doc = nlp(x)
  classific = [x.pos_ for x in doc]
  text = ' '.join(classific)
  classificacao.append(text)

In [ ]:
classificacao

In [42]:
df_class = pd.DataFrame(classificacao, columns = ['review'])

In [43]:
df_class

                                                 review
0     ADJ NOUN ADJ NOUN ADJ NOUN ADP PROPN ADJ ADJ N...
1     NOUN ADV VERB PROPN VERB CCONJ VERB VERB ADV N...
2     NOUN ADJ NOUN ADJ ADJ ADV ADJ ADJ NOUN VERB PR...
3     NOUN ADJ NOUN VERB ADV VERB ADV VERB ADV NOUN ...
4     NOUN ADV VERB ADV NUM NOUN ADJ ADJ VERB PROPN ...
...                                                 ...
4995  NOUN ADV VERB NOUN DET NOUN ADJ ADJ NOUN VERB ...
4996  ADV VERB ADJ NOUN ADJ PROPN PROPN VERB NOUN AD...
4997  NOUN ADJ ADJ NOUN ADJ ADJ CCONJ VERB NOUN ADJ ...
4998  NOUN VERB ADJ ADV VERB ADV X NOUN PROPN NOUN A...
4999  NOUN VERB DET NOUN PROPN NOUN ADJ NOUN VERB VE...

[5000 rows x 1 columns]

In [45]:
reviews

0       Ótima localização, bom atendimento, bom sinal ...
1       O hotel é bem localizado e silencioso, o que c...
2       O hotel é muito bom. O atendimento é excelente...
3       Hotel antigo, mal conservado e mal reformado, ...
4       Hotel bem localizado, perto de dois shopping, ...
                              ...
4995    Hotel muito bem localizado, com shopping e dem...
4996    Além de oferecer uma boa hospedagem com confor...
4997    Hotel charmoso, bom atendimento, quartos confo...
4998    O hotel fica super bem localizado, em frente a...
4999    O serviço atendeu a todas as expectativas. Ide...
Name: text, Length: 5000, dtype: object